<div class="defaultColor" id="home">
    <div class="row">
        <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
            <div class="container p-4 text-white">
                <div class="mt-3 p-5">
                    <h3 class="defaultFont" i18n="@@home-title">Software Developer</h3>
                    <h1 class="fw-bold defaultFont">Josias HU</h1>
                    <p class="fs-5 defaultFont" i18n="@@home-description">
                        I'm a proactive and detail-oriented software engineering student with a passion for crafting efficient and user-friendly applications. With a strong foundation in software development principles and an eagerness to tackle new challenges, I am seeking freelance opportunities to apply my skills and contribute to innovative projects. My goal is to deliver high-quality solutions that meet the unique needs of each client and exceed their expectations.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center">
                <img class="rounded-circle img-fluid" src="https://github.com/JhidalgoU.png" alt="photo">
            </div>
        </div>
    </div>
</div>
