h1, h3{
    font-family: 'Montserrat', sans-serif;
}


div.row{
    margin-left:  0;
    margin-right: 0;
}
@media (max-width: 576px) {
    h1 {
        font-size: 3.5em;
        width: auto;
        background: -webkit-linear-gradient(0deg, #590A1B 30%, #B08D57);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
}

@media (min-width: 577spx) and (max-width: 768px) {
    h1 {
        background: -webkit-linear-gradient(0deg, #590A1B 30%, #B08D57);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    h1 {
        font-size: 3.5em;
        background: -webkit-linear-gradient(0deg, #590A1B 1%, #B08D57);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;    
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    h1 {
        background: -webkit-linear-gradient(0deg, #590A1B 1%, #B08D57);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;    
    }
    div.defaultColor > *{
        height: 85vh;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    h1 {
        font-size: 4em;
        background: -webkit-linear-gradient(0deg, #590A1B -5%, #B08D57);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;    
    }
    div.defaultColor > *{
        height: 87vh;
    }
}

@media (min-width: 1401px) {
    h1 {
        font-size: 5em;
        background: -webkit-linear-gradient(0deg, #590A1B 8%, #B08D57);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;    
    }
    div.defaultColor > *{
        height: 88vh;
    }
}