<nav class="navbar navbar-expand-lg m-0 ">
        <button class="navbar-toggler border-light  mx-auto " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>    
    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between" id="navbarNav">
        <ul class="navbar-nav me-sm-0  me-auto mb-2 mb-lg-0">
            <li class="nav-item  ">
                <a class="nav-link ms-sm-0 ms-lg-5 " href="">
                    <img src="assets/logo.png" alt="Logo de un gato con forma de letra J" i18n="@@logoAlt">
                </a>
            </li>
        </ul>
        <ul class="navbar-nav mx-5 ">
            <li class="nav-item  menu ">
                <a class="nav-link  " href="#home" i18n="@@home">
                    Home
                </a>
            </li>
            <li class="nav-item menu">
                <a class="nav-link " href="#about-me" i18n="@@aboutMe">
                    About Me
                </a>
            </li>
            <li class="nav-item menu">
                <a class="nav-link " href="/" i18n="@@projects">
                    Projects
                </a>
            </li>
            <li class="nav-item menu" >
                <a class="nav-link " href="/en-US/" i18n="@@skills">
                    Skills
                </a>
            </li>
            <li class="nav-item menu">
                <a class="nav-link " href="/es-CR/" i18n="@@contact" onclick="">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>
