<div class=" defaultColor" id="about-me">
    <div class="row ">
        <div class="col-lg-8 col-md-12 d-flex justify-content-center align-items-center">
            <div class="vertical-line ms-5 fade-in"></div>
            <div class="container ps-2  py-4 pe-4 text-white">
                <div class="mt-sm-5 mt-md-5 m-lg-0 p-5 p-lg-2 p-md-2  ">     
                    <h2 class="text-white mb-4 defaultFont">About Me</h2>
                    <p class="text-white fs-5 defaultFont">
                        I'm a software developer with a focus primarily on backend technologies. I have experience in developing applications using technologies such as SQL, Angular, Spring Boot, and Flask.<br>
                        Recently, I have started a project with Solidity, which has allowed me to expand my skills in developing smart contracts and decentralized applications. I excel at designing and implementing<br> 
                        efficient, scalable solutions. I enjoy tackling new challenges and learning new technologies to continuously improve my skills as a developer.
                </div>             

            </div>             
        </div>
        <div class="col-lg-4 col-md-12 d-flex justify-content-center align-items-center">
            <div class="card">
                <div class="card-body defaultFont">
                    <h5 class="card-title fs-1 ">Freelancer</h5>
                    <a href="https://www.linkedin.com/in/jhidalgou/" class="fs-4">&lt;a&gt; <br> Ir a mi perfil de linkedin<br>&lt;/a&gt;</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  