.footer {
    padding: 20px 0;
  }
  
  .social-icons a {
    margin-right: 20px;
    font-size: 40px;

  }  
  
  .social-icons i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
.fab {
    /* Aplica un linear gradient al color de los iconos */
    color: #590A1B;
  }
  
  /* Cambia el color del linear gradient de los iconos al pasar el cursor sobre ellos */
.fab:hover {
    color:  #B08D57;
    transform: scale(1.3);
    transition: transform 0.3s;
}

  